:root {
    --medicode-red: #980026;
    --medicode-blue: #3e96ee;
    --medicode-white: #ecdbcb;
}

.md-ellipsis {
    font-size: 2em;
}

/* nav bg color */
.md-header, .md-tabs {
    background-color: var(--medicode-red);
}

.md-nav__item .md-nav__link--active {
    color: var(--medicode-blue);
}

.md-header {
    background-color: white;
    color: black;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 5rem !important;
    width: auto;
}

footer.md-footer {
    background-color: var(--medicode-red);
}

p>a.md-button.md-button--primary{
    background-color: var(--medicode-red);
    border-color: var(--medicode-red);
    color: var(--md-primary-bg-color);
    display: table;
    margin: 1em auto;
}